/**Styles**/
@font-face {
    font-family: 'Myriad Pro';
    src: url(../fonts/MyriadPro-Regular.otf);
}

body{
    font-family: 'Myriad Pro';
    background: #381120;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 0;
    width: auto;
}

div{
    display: block;
}

a{
    text-decoration: none;
    color: #d35400;
}
a:hover{
    color: #8e44ad;
}

.content{
    left: 0px; 
	 top: 0px; 
	 position: relative; 
	 margin-left: auto; 
	 margin-right: auto;
	 height: auto; 
	 overflow: hidden;
}
/**Header**/
.nav{
    height: 61px;
    background: #381120;
}

.logo a{
    float: left;
    width: 61px;
    height: 34px;
    text-decoration: none;
    color: #7e7e7e;
    font-size: 43px;
    margin-top: 11px;
    margin-left: 30px;
}

.nav ul {
    margin: 0;
    padding: 0;
    float: right;
}

.nav ul li {
    list-style: none;
    float: left;
    display: block;
    padding-top: 19px;
    padding-left: 19px;
    padding-right: 19px;
}

.nav ul li a {
    color: #7e7e7e;
    text-decoration: none;
    font-size: 25px;
}

.nav ul ul.sub-nav {
    display: none;
    background: #381120;
    width: auto;
    padding-bottom: 20px;
    position: absolute;
}

.nav ul li:hover > ul {
    display: block;
}

.nav ul ul li {
    float: none;
    padding-top: 20px;
    padding-left: 24px;
}

.nav ul li a.active {
    color: #08a1c7;
}

.nav ul li a:hover {
    color: #efefef;
}

.clearfix:before, .clear:after{
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}

/**Hero**/
.hero {
    height: 539px;
    background: #0d2239;
}

.hero h1 {
    /*padding-top: 110px;*/
    font-size: 80px;
    width: 89%;
    height: auto;
    color: #e74c3c;
    margin-left: 27px;
    margin-right: 27px;
    margin-top: 35px; 
    position: absolute;
    height: 58px;
}

.hero span {
    background: url(../img/Brackets.png);
    background-repeat: no-repeat;
    position: absolute;
    width: 680px;
    height: 150px;
    margin-top: 155px;
    margin-left: 270px;
    margin-right: 300px;
}

.hero h4 {
    /*padding-top: 60px;
    padding-left: 303px;*/
    color: #e74c3c;
    font-size: 30px;
    margin-left: 270px; 
    margin-top: 390px; 
    position: absolute; 
    width: auto;
    height: 28px;
}

/**Main-about**/
#main-about {
    height: auto;
    background: #adabaa;
    text-align: center;
}

/**Circles**/
#cirs {
    width: AUTO;
}



#cir {
    background-image: url(../img/face.png);
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 179px;
    padding-bottom: 178px;
    
}

#main-about h2 {
    font-size: 90px;
    color: #ffffff;
    padding-bottom: 45px;
    padding-left: 156px;
    padding-right: 156px;
}

#main-about p {
    padding-top: 46px;
    color: #ffffff;
    font-size: 40px;
    padding-bottom: 80px;
    padding-left: 156px;
    padding-right: 156px;
}

#main-about .btn-learn{
    background: #0995b8;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border: 0px;
    height: 100px;
    width: 280px;
    margin-bottom: 70px;
}

#main-about .btn-learn a{
    text-decoration: none;
    color: #ffffff;
    font-size: 40px;
    padding-left: 0px;
    text-align: center;
}

#main-about .btn-learn:hover{
    background: #381120;
}

/**Footer**/

.footer {
    padding: 0;
    margin: 0;
    height: auto;
    margin: auto;
    display: block;
    background: #381120;
}

.footer a{
    color: #7e7e7e;
    display: block;
    width: 100%;
    line-height: 4;
    text-align: center;
    font-size: 80px;
}

@media (max-width: 1000px) {
    .footer a {
      font-size: 60px;
    }
}

@media (max-width: 895px){
    .footer a {
      font-size: 50px;
    }
}

@media (max-width: 650px) {
    .footer a {
      font-size: 45px;
    }
}

.footer a:hover {
    color: #0995b8;
}
/**CForm**/
.cform {
    width:auto;
    height: auto;
    background: #0d2239;
    line-height: 2;
}

div.cform
{
    display: block;
    text-align: center;
    margin: auto;
}
.cform form
{
    display: inline-block;
    width: 450px;
}

.cform form input{
    margin-bottom: 25px
}

.cform h1{
    margin: auto;
    color: #fff;
    height: auto;
    width: auto;
    line-height: 3;
    font-size: 50px;
}

.cform form input, .cform form textarea{
    border: 3px solid #0995b8;
    vertical-align: baseline;
}

.cform input:focus, .cform textarea:focus{
    border: 3px solid #e74c3c;
}

.cform textarea, cform input{
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    flex-direction: column;
    resize: auto;
    cursor: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.cform button{
    width: 75px;
    height: 50px;
    color: #fff;
    border: 3px solid #0995b8;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 100px;
    float: left;
}

.cform button:hover{
    border-color: #fff;
    color: #0995b8;
}

/**Misc**/
.comson{
    width: auto;
    height: 600px;
    background: #0d2239;
    text-align: center;
    line-height: 6;
    font-size: 100px;
    color: #fff;
}

.comson a{
    color: #fff;
}

.comson a:hover{
    color: #dedede;
}

@media (max-width: 895px){
    .comson a {
      font-size: 90px;
    }
}

@media (max-width: 650px) {
    .comson a {
      font-size: 80px;
    }
}

@media (max-width: 375){
    .comson a{
        font-size: 60px;
    }
}

/**Moble Styles**/
.menu-trigger{
    padding-top: 16px;
    padding-right: 30px;
    font-size: 25px;
    text-align: center;
    display: none;
    float: right;
    color: #7e7e7e
}

.menu-trigger p{
    color: #7e7e7e
}

.nav ul li.fix{
    padding: 0;
    padding-left: 19px;
    padding-top: 17px;
}

    /**480px**/


@media only screen and (max-width : 560px) {
    
    .mobile-nav{
        display: block;
        height: 61px;
        background: #381120;
    }
    
    .menu-trigger{
        display: block;
    }
    
    .nav{
        margin-top: -20px;
        display: none;
        height: auto;
        width: auto;
    }
    
    .nav ul{
        float: right;
        width: 100%;
    }
    
    .nav-expanded{
        display: block;
    }
    
    .nav ul li{
        float: none;
        padding: 0;
        text-align: center;
        line-height: 2;
        border-top: 1px solid #7e7e7e;
        border-bottom: 1px solid #7e7e7e;
    }
    
    .nav ul li:last-child{
        border-bottom: 2px solid #7e7e7e; 
    }
    
    .nav ul li:first-child{
        border-top: 2px solid #7e7e7e;
    }
    
    .nav ul li.fix{
        padding: 0;
    }
    
    .nav ul li ul.sub-nav{
        float: none;
        padding: 0;
        margin: 0;
        width: 100%;
        position: relative;
    }
    
    .nav ul li ul.sub-nav li{
        padding: 0px;
        
    }
    
    .nav ul li ul.sub-nav li:last-child{
        border-bottom: 0;
    }
    
    .nav ul li:last-child{
        margin-bottom: ;
    }
    
    .hero h1 {
        font-size: 45px;
        width: 89%;
        height: auto;
        color: #e74c3c;
        margin-left: 27px; 
        margin-top: 35px; 
        position: absolute;
        height: 58px;
    }

    .hero span {
        background: url(../img/Brackets.png);
        background-repeat: no-repeat;
        position: absolute;
        width: 680px;
        height: 150px;
        margin-top: 175px;
        margin-left: 11px;
        margin-right: 305px;
    }
    
    .hero h4 {
        color: #e74c3c;
        font-size: 30px;
        left: 30px; 
        top: 430px; 
        position: absolute; 
        width: auto;
        height: 28px;
        z-index:16;
    }
    
    #main-about h2 {
        font-size: 60px;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
    }
    
    #main-about p{
        padding-left: 0;
        padding-right: 0;
        font-size: 20px;
    }
    
    #main-about .btn-learn{
        height: 80px;
        width: 200px;
        margin-bottom: 70px;
    }
    
    #main-about .btn-learn a{
        font-size: 25px;
    }
    
    .cform form{
        width: 300px;
    }
    
    .comson a {
      font-size: 70px;
    }
    
    .footer a{
        line-height: 6;
        font-size: 25px;
    }
}
