// Override default variables before the import
$body-bg: #000;

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

@font-face {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('./assets/fonts/Epilogue-Italic-VariableFont_wght.ttf') format('ttf'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./assets/fonts/Epilogue-VariableFont_wght.ttf') format('ttf'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
  /* from coolers: https://coolors.co/003049-1b2f45-362e41-6b2c39-d62828-e75414-f77f00-fcbf49-eae2b7 */
  --prussian-blue: #003049;
  --flame:#E75414;
  --lemon: #EAE2B7;
  --cg-red: #d9403a;
  --dark-purple: #3D2A39;
  --catawba: rgba(101, 45, 58, 0.5);
  --platinum:#E8E9EB;
  --onyx:#313638;
}

.bg-blue{
  background-color: var(--prussian-blue);
}
.blue{
  background-color: var(--prussian-blue);
}

.icons {
    a {
        border-radius: 50%;
        min-width: 37px;
        border-width: .125rem;
    }
}

.title {
  @extend .text-center;
  color: azure;
  font-family: 'Epilogue', Helvetica, Arial, sans-serif;

  &-i{
    @extend .title;
    font-style: oblique 30deg;
  }

  h1{
    font-size: 55px;
  }
  h2 {
    font-size: 1.5em;
  }
}

.blur{
  background-color:rgba(0,0,0,0.2);
}

.cta {
  background-image: url('./assets/images/cta.png');
  width: 100%;
  height: 700px;
  background-position: center -150px;
  background-repeat: no-repeat;
  background-size: cover;
  &-contact {

    h1 {
      color: #000;
    }
  }
}

.contact-info {
  background-color: var(--lemon);
  min-height: 700px;
}

.profile-image {
  border-radius: 50%;
  width: 75%;
}

.about {
  #about-section {
    font-size: 22px;
    background-color: var(--catawba);
    article {
      font-style: normal;
      font-family: 'Epilogue', Helvetica, Arial, sans-serif;
      color: azure;
    }
  }
}
nav{
  font-size: 35px;
  .brand{
    font-size: 35px;
  }
  height:auto;
  padding: auto;
}

.portfolio{
  background-color: var(--dark-purple);
}

.card {
  background-color: var(--cg-red);
  border-radius: 5px;
  height: 400px;
  margin: 2rem;
  position: relative;
  width: 400px;
  box-shadow: 0 2px 2px var(--onyx), 0 6px 12px var(--onyx);
}

.card {
  .img-container {
    height: 75%;
    overflow: hidden;
    text-align: center;
    border-radius: 10px;
    background-color: var(--cg-red);
  }
}

.card {
  .img-container { 
    img {
      width: 100%;
      padding: 25px;
      margin-bottom: 20px;
      background-color: var(--cg-red);
    }
  }
}

.card {
  .content {
    font-size: 18px;
    background-color: var(--cg-red);
    color: var(--prussian-blue);
    font-weight: bold;
    text-align: center;
  }
}

.wrapper {
  padding-top: 50px;
  justify-content: space-around;
  height: 100%;
  display: flex;
  overflow: auto;
  flex-flow: row wrap;
  padding: 10px;
  align-content: flex-start;
}

#card-title {
  margin-top: 10px;
  color: var(--onyx);
}

.icons {
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6em;
  .dark {
    color: black;
  }
  .project-icon {
    color: var(--prussian-blue);
  }
}

.tag-toggle {
  color: var(--prussian-blue);
  text-decoration: none;
  font-weight: normal;
}

.resume{
  background-color:#F28A2F;

  height: 600px;
  color: #000;
  .container{
    padding: 1.5rem 1rem;
    border-radius: 1.5rem;
  }
  hr{
    border: 2px solid #000;
    opacity: .60;
  }
  .title{
    color: #000;
  }
  #front-back{
    text-align: center;
  }
}

.contact-form {
  background-color: rgba(0,0,0,0.15);
  padding: 1.5rem;
  margin-right: 0;
  margin-left: 0;
  border-width: 1px;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  border-radius: .8rem;
  .form-control{
    @extend .form-control;
    background-color: var(--platinum)
  }
}

.email-contact{
  text-decoration: none;
  font-weight: bold;
  color: var(--dark-purple);
}